<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="home.style.css" />
    <title>FLESHZOOM</title>
  </head>
  <body>
    <main class="main">
      <div class="form__wrapper">
        <h1 class="from__title">FLESHZOOM</h1>
        <form action="/auth" method="post">
          <input
            class="form__input"
            type="text"
            placeholder="Enter you nickname"
            name="nickname"
            id="nickname"
            required
          />
          <input
            class="form__input"
            type="text"
            placeholder="Enter room id, empty field will generate one "
            name="roomId"
            id="roomId"
          />
          <button class="form__button" type="submit">Join</button>
        </form>
      </div>
    </main>
  </body>
</html>
